const mysqlHost = 'mysql-bitnami-mysql.default.svc.cluster.local';
const mysqlUser = 'root';
const mysqlPassword = 'root';

const mongoDbHost = 'mongodb-bitnami.default.svc.cluster.local';
const mongoDbUser = 'root';
const mongoDbPassword = 'password';

const keycloakHost = 'http://35.203.121.29/auth';
const keycloakUser = 'keycloak';
const keycloakPassword = '3NkxhxutiN';